/* Note: using div[name="dCon2"] does not work in IE for published content, position absolute fails bug 11142 */
.ttxt
{
	position: absolute;
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: transparent !important;
	font-size: 10pt;
	background-image: url(images/trivantis-blank.gif);
	color:black;
	word-wrap:normal;
	/*line-height:1.25;*/ /* Normal doesn't play nice cross-browser, search for line-height-default for more information, 1 cuts off text j,y,g etc in FF */
}

.ttxt p, .ttxt ul, .ttxt ol, .ttxt li
{
	margin: 0px;
	text-indent: 0px;
}

.ttxt h1, .ttxt h2, .ttxt h3, .ttxt h4, .ttxt h5, .ttxt h6
{
	padding: 0px 0px 0px 0px;
	font-weight:normal;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

.ttxt ul
{
	padding: 0px 0px 0px 30px;
	list-style-type: disc;
}

.ttxt ol
{
	padding: 0px 0px 0px 30px;
}

.ttxt li
{
	padding: 0px;
}

.ttxt a
{
	cursor:pointer;
	color:inherit;
}

div.fInd>div[id^="tobj"] {
    clip: auto !important;
}

div.fInd>div[id^="tobj"] button:focus,
div.fInd>div[id^="tobj"] u:focus,
div.fInd>div[id^="tobj"] a:focus {
	outline: #FF8000 auto 5px;
	-webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}

/* select:focus, */
div.fInd input[type="file"]:focus,
div.fInd input[type="radio"]:focus,
div.fInd input[type="checkbox"]:focus,
div.fInd div.customRadio input[type="file"]:focus ~ label,
div.fInd div.customRadio input[type="radio"]:focus ~ label,
div.fInd div.customRadio input[type="checkbox"]:focus ~ label {
  border-color: #FF8000;
	outline: #FF8000 auto 1px;
  -webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}


div.fInd>div[id^="tobj"] a:focus svg,
div.fInd>div[id^="tobj"] a:focus img,
div.fInd>div[id^="tobj"] button:focus{
    border-color: #FF8000;
	outline: #FF8000 auto 1px;
  -webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}

div.fInd div>div[id^="tobj"] a:focus svg,
div.fInd>div[id^="tobj"] svg:focus,
div.fInd div>div[id^="tobj"] a:focus img {
    border-color: #5b9dd9;
	outline: #5b9dd9 auto 1px;
  -webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}

div.fInd>div[id^="tobj"] textarea:focus,
div.fInd>div[id^="tobj"] input[type="text"]:focus,
div.fInd>fieldset>div[id^="tobj"] input[type="text"]:focus,
div.fInd>div[id^="tobj"] input[type="password"]:focus,
div.fInd>div[id^="tobj"] select:focus,
div.fInd>fieldset>div[id^="tobj"] select:focus,
div.fInd>div[id^="tobj"] .ttxt a:focus,
div.fInd>div[id^="tobj"] a:focus>div{
    border-color: #5b9dd9;
	outline: #5b9dd9 auto 1px;
   -webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}

div.fInd div>div[id^="tobj"] textarea:focus,
div.fInd div>div[id^="tobj"] input[type="text"]:focus,
div.fInd div>div[id^="tobj"] input[type="password"]:focus,
div.fInd div>div[id^="tobj"] select:focus,
div.fInd div>div[id^="tobj"] .ttxt a:focus {
    border-color: #5b9dd9;
	outline: #5b9dd9 auto 1px;
  -webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
     -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
          box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}

div.fInd>div[id^="tobj"] a,
{
	outline:0;
	border:0;
}

div.fInd>div[id^="tobj"] u:focus {
	border-color: #FF8000;
	outline: #FF8000 auto 1px;
	outline-offset: -2px;
	-webkit-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
    -moz-box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
    box-shadow: inset 0 0 6px 1px rgba(91,157,217,1), 0 0 6px 1px rgba(91,157,217,0.8);
}